@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


.bg-noise {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='120'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23n)'/></svg>");
  background-repeat: repeat;
}

.btn_primary {
  @apply mt-6 justify-center w-[150px] py-2 px-4  rounded flex items-center gap-1 text-nowrap;
}

.card {
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 500px;
  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.doctor-bg{
  background: url("../public//assets/bgrd_hospital_single_doc.png");
  background-position: center;
  background-size: cover;
}
.shadow-class{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
 .btn-shadow{
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;}

#blog_desc a{
  color: blue;
  text-decoration: underline;
  font-weight: 600;
}

.bumrungrand-back {
  background-image: url("/../assets/about_bumrungrad/bumrungrad_owned_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.vissionMission-back {
  background-image: url("/../assets/about_bumrungrad/Vision&Mission.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.insurance-back {
  background-image: url("/../assets/insurance/Bumrungrad\ \ Hospital_insurance.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.insurance-goodvibes {
  background-image: url("/../assets/insurance/Bumrungrad\ \ Hospital_Good-Vibes-2023.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.insurance-packagePromotion {
  background-image: url("/../assets/insurance/Bumrungrad\ \ Hospital_promotion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

